---
// Library import
import Image from 'astro/components/Image.astro';

// Component import
import Link from './Link.astro';

// Utils import
import { slugify, formatDate } from '../js/utils';

const { frontmatter, url, tagType } = Astro.props;
const Tag = tagType;
const { title, date, author, image, description, category } = frontmatter;
---

<article class="card">
	<small>
		<a href={`/category/${slugify(category)}`} class="badge">{category}</a>
	</small>
	<a href={url} tabindex="-1"
		><Image
			src={image.src}
			alt={image.alt}
			width={400}
			height={250}
			format="webp"
			fit="cover"
			quality={80}
			class="hero-image"
		/></a
	>
	<div class="content">
		<div>
			<Tag class="h3">
				<a href={url}>{title}</a>
			</Tag>
			<small>by <a href={`/author/${slugify(author)}/`}>{author}</a> • {formatDate(date)}</small>
		</div>
		<p>{description}</p>
		<Link href={url} style="secondary" text="Read Post" />
	</div>
</article>
